@page
@using Taste.Utility


@if (User.IsInRole(SD.ManagerRole))
{
    <div class="border backgroundWhite container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary">Users List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
            </div>
        </div>
        <br /><br />
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
}
else
{
    <div>
        <h1 class="text-danger"> Access Denied</h1>
    </div>
}
@section Scripts{
    <script src="~/js/user.js"></script>
}
