@page
@model Taste.Pages.Admin.Order.OrderDetailsModel
@{
    ViewData["Title"] = "OrderDetails";
}


<form method="post">
    <div class="border ml-1 backgroundWhite mt-4">
        <div class="row pb-1">
            <div class="col-12 col-md-6 ">
                <p class="h2  text-primary">Order Details</p>
            </div>
            <div class="col-12 col-md-4 offset-md-2">
                <a asp-page="/Admin/Order/OrderList" class="btn btn-success form-control">Back to Orders </a>
            </div>
        </div>
        <hr />

        <div class="row pt-2">

            <div class="col-lg-8 col-12" style="border-right:1px solid #bbb9b9">
                <input type="hidden" asp-for="OrderDetailsVM.OrderHeader.Id" />
                <div class="form-group row">
                    <div class="col-md-3 col-12 text-primary">
                        <label>Name</label>
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderDetailsVM.OrderHeader.PickupName" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-12 text-primary">
                        <label><label asp-for="OrderDetailsVM.OrderHeader.ApplicationUser.Email"></label></label>
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderDetailsVM.OrderHeader.ApplicationUser.Email" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-12 text-primary">
                        <label><label asp-for="OrderDetailsVM.OrderHeader.ApplicationUser.PhoneNumber"></label></label>
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderDetailsVM.OrderHeader.ApplicationUser.PhoneNumber" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-12 text-primary">
                        <label><label asp-for="OrderDetailsVM.OrderHeader.OrderTotal"></label></label>
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderDetailsVM.OrderHeader.OrderTotal" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-12 text-primary">
                        <label><label asp-for="OrderDetailsVM.OrderHeader.OrderDate"></label></label>
                    </div>
                    <div class="col-md-9 col-12">
                        <input value="@Model.OrderDetailsVM.OrderHeader.PickUpTime.ToShortDateString() @Model.OrderDetailsVM.OrderHeader.PickUpTime.ToShortTimeString()" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-12 text-primary">
                        <label><label asp-for="OrderDetailsVM.OrderHeader.Comments"></label></label>
                    </div>
                    <div class="col-md-9 col-12">
                        <input asp-for="OrderDetailsVM.OrderHeader.Comments" disabled class="form-control" />
                    </div>
                </div>

            </div>



            <div class="col-lg-4 col-12">
                <h4 class="d-flex justify-content-between align-content-center mb-3">
                    <span class="text-muted">Order ID: </span>
                    <span class="badge badge-secondary badge-pill">$$ORDER ID$$</span>
                </h4>
                <ul class="list-group mb-3">

                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">$$NAME$$</h6>
                            <small class="text-muted">Quantity : $$Count$$</small>
                        </div>
                        <span class="text-muted">$$TOTAL PRICE$$</span>
                    </li>


                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <span class="text-info"> Total (USD)</span>
                        <strong class="text-info">$$ORDER TOTAL$$</strong>
                    </li>

                </ul>

                <button type="submit" class="btn btn-success form-control"><i class="far fa-thumbs-up"></i> Confirm Pickup</button>

                <button type="submit" disabled class="btn btn-info form-control">$$ ORDER STATUS $$ </button>


            </div>

        </div>
    </div>
</form>


